@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --color-white: hsl(0, 0%, 100%);
  --color-light-pink: hsl(275, 100%, 97%);
  --color-grayish-purple: hsl(292, 16%, 49%);
  --color-dark-purple: hsl(292, 42%, 14%);
}

* , body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  background-color: var(--color-light-pink);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

main.card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100vw;
  min-height: 280px;
  max-height: 320px;
  background: url('../assets/images/background-pattern-desktop.svg') no-repeat top center;
  background-size: 100% auto;
  z-index: -1;
}

.card {
  background-color: var(--color-white);
  color: var(--color-dark-purple);
  border-radius: 12px;
  margin: 130px 5vw 0;
  min-width: 300px;
  max-width: 603px;
}

h1::before {
  content: url('../assets/images/icon-star.svg');
  position: absolute;
  left: 3%;
  top: 60%;
  transform: translateY(-50%) scale(0.7);
}

h1 {
  position: relative;
  padding-left: 3.5rem;
  font-weight: 800;
  font-size: 2rem;
  letter-spacing: 0.75px;
  margin-top: 33.5px;
}

section {
  padding: 27px;
}

section > div {
  display: flex;
  flex-direction: column;
  min-width: 255px;
  border-bottom: 1.25px solid hsla(292, 42%, 14%,0.25);
  padding-bottom: 12px;
  margin-bottom: 15px;
}

.toggle-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toggle-header:hover {
  color: #a941da;
  cursor: pointer;
}

.toggle-header b {
  width: 85%;
  font-size: 0.9rem;
}

.info {
  color: #969197;
  overflow: hidden;
  transition: max-height 0.3s ease, padding 0.3s ease;
}

.info.toggle-hidden {
  max-height: 0;
  padding: 0;
}

.info:not(.toggle-hidden) {
  max-height: 500px;
  padding: 10px 0;
  letter-spacing: 0.25px;
}

@media screen and (max-width: 768px) {
  main.card::before {
    background: url('../assets/images/background-pattern-mobile.svg') no-repeat top center;
    background-size: cover;
    min-height: 240px;
  }
  
  h1{ padding-left: 3.25rem;}
  .toggle-header b { font-size: 1rem;}
}
